EXPO_PUBLIC_SUPABASE_URL=https://qijxuwrofbizqgjydogm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFpanh1d3JvZmJpenFnanlkb2dtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NzQ4MzUsImV4cCI6MjA4ODE1MDgzNX0.8jQ7AaroZ2IjLf93T7lge83950xtAJvy775Is-Xb9sM
EXPO_PUBLIC_REVENUECAT_IOS_KEY=test_QgffZbkGNxYtodZfCfAnXZPpKZc
EXPO_PUBLIC_REVENUECAT_ANDROID_KEY=test_QgffZbkGNxYtodZfCfAnXZPpKZc

